@font-face {
    font-family: "govwf_fz_6906626_2027490133";
    src: url("govwf_fz_6906626_2027490133.woff") format("woff"),
        /* chrome, firefox */
        url("govwf_fz_6906626_2027490133.ttf") format("truetype"),
        /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
        url("govwf_fz_6906626_2027490133.svg#govwf_fz_6906626_2027490133") format("svg");
    /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "govwf_fz_6906626_2027490133";
    src: url("govwf_fz_6906626_2027490133.eot");
    /* IE9 */
    font-style: normal;
    font-weight: normal;
}